body{
margin: 0;
padding: 0;
background:#FED74F; 
border-top: 12px solid #552F1C;
font-family: "Trebuchet MS",Arial, Helvetica,sans-serif;
font-weight: bold;
}


#container{
 margin:0 auto;
 width: 1024px;
 padding: 0px;


}

#header{

margin: 0;
padding: 0;

}

#header h1{
  margin: -12px 0 0 45px;
  padding: 0;
  background: url(file:///home/topor/Escritorio/Cuaclases2016/rice/images/logo.png);
  background-repeat: no-repeat;
  width:168px;
  height: 227px;
  text-indent: -9999px; 
  position: absolute; 
}
#header h1:before{
	margin: -12px 0 0 45px;
	padding: 0;
	background: url(file:///home/topor/Escritorio/Cuaclases2016/rice/images/logo-shadow.png) no-repeat; 
	width:192px;
	height: 250px;
    position: absolute;
}
#header ul{
 margin: 0 0 0 230px;
 padding: 50px 0 30px 0;
 }	
#header ul li{
 display: inline;
 margin: 10px;
 padding-right:8px; 
 color:#552F1C;
 text-transform: uppercase; 
} 

#slider img{

 margin:8px 0 0 0;
 padding: 10px;
 background: #FFFFFF; 

}
#content{
width: 945px;
height: 350px;
margin-top: 40px !important;
}
#fill{
width: 400px;
position: absolute;
display: block;
 margin:0 0 0 15px !important;
}
#fill h2{
text-indent: -9999px;
background: url(file:///home/topor/Escritorio/Cuaclases2016/rice/images/fill-bowls-fight-hunger.gif);
width:397px;
height:147px; 
}

#order{
display: block;
width: 485px;
margin: 0 0 0 475px;
}
#order h2{
   padding: 10px;
   background: #552F1C;
   border-radius: 10px;
   width: 180px;
   color: #FFF;
   text-transform: uppercase;
   text-align: center;
}
#order h2+p{
  width: 190px;
  margin: 120px 0 0 0 !important;

}
#order h2, #order h2+p{
position: absolute;
margin: 50px 0 0 0;
}

#order p:last-child{
 background: url(file:///home/topor/Escritorio/Cuaclases2016/rice/images/3d-box.jpg)no-repeat;
 width: 341px;
 height: 239px;
 float: right;
 margin:35px 0 0 0 !important;
 text-indent: -9999px;
}
#get {



}
#get p {
  text-indent: -9999px;
  background: url(file:///home/topor/Escritorio/Cuaclases2016/rice/images/footer-buttons.png)no-repeat;
  width: 354px;
  height: 98px;
  background-position: 0px -50px;
}

.bverde{
 padding:5px 10px 5px 10px;
 background: #3E9B43;
 color: #FFFFFF !important; 
 border-radius: 5px;
}
.bverde:hover{

padding:5px 10px 5px 10px;
background: #FF6600;
color: #FFFFFF !important; 
 border-radius: 5px;
}
