body{  
 
 margin:0 0 0 ;
 padding: 0;
 background:#FED74F;
 border-top:12px solid #552F1C;
 line-height: 1;

 }

#container{

margin: 0 auto;
width: 1024px;
padding: 0;
}

#header {
margin: -12px 0 0 0;
padding: 0;


}

#header h1{
 padding: 0;
 margin:0 0 0 45px;
 background: url(file:///home/topor/Escritorio/Cuaclases2016/ricebowls3b/images/logo.png);
 width: 168px;
 height: 227px;
 text-indent: -9999px;
 position:  absolute;

}
#header ul{
padding: 50px;
margin:0 0 0 175px;
}
#header ul li{

display: inline;
padding:0 0 0 30px;
text-transform: uppercase;
}

#slider{


}
#slider img{
 margin: 0;
 padding: 10px;
 background: #FFF;
}

#content{
 width: 910px;
 height: 350px;
}
#fill{
	
 padding-top: 40px;
 width: 400px;
height: 350px;
 position: absolute;
}
#fill h2{
  text-indent: -9999px;
  background: url(file:///home/topor/Escritorio/Cuaclases2016/ricebowls3b/images/fill-bowls-fight-hunger.gif) no-repeat ;
  width: 397px;
  height: 147px;
}

#order{
padding-top: 65px;
width: 400px;
height: 350px;
margin: 0 0 0 450px;
}

#order h2{
 padding: 10px;
 background: #552F1C;
 border-radius:5px;  
 color:#FFF;
 text-transform: uppercase;
 font-weight:normal;
 text-shadow:0 1px 1px #3D1F11;
 color:#fff;   
 text-align: center; 
 font:300 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
 box-shadow:0 1px 1px #fff1ab;
}


#order h2:hover{
 padding: 10px;
 background: #035096;
 border-radius:5px;  
 color:#FFF;
 text-transform: uppercase;
 font-weight:normal;
 text-shadow:0 1px 1px #3D1F11;
 color:#fff;   
 text-align: center;#035096:300 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
 box-shadow:0 1px 1px #fff1ab;
}

/* Azul electrico
color:#7DF9FF;
*/


#order h2+p{
margin: 85px 0 250px 0;
position: absolute;
line-height: 20px;
}


#order h2, #order h2+p{
  
 width: 160px; 
 float: left !important;

}

#order p:last-child{
text-indent: -9999px;
 background: url(file:///home/topor/Escritorio/Cuaclases2016/ricebowls3b/images/3d-box.jpg) no-repeat;
 width: 341px;
 height: 239px;
 margin: 0px 0 0 120px;
 
}

#get{
  
}
#get p{
  background: url(file:///home/topor/Escritorio/Cuaclases2016/ricebowls3b/images/footer-buttons.png) no-repeat;
  text-indent: -9999px;
  width: 354px;
  height: 98px;
  background-position:0px -50px; 

}
#sistemap{
 
}
#why, #inv,#resources,#about{
float: left;
}
#why h3, #inv h3, #resources h3, #about h3{
color:#552F1C;
text-transform: uppercase;
font-size: 16px;
}

#why ul li, #inv ul li, #resources ul li, #about ul li{
list-style: none;
}

#why ul li a, #inv ul li a, #resources ul li a, #about ul li a{
text-decoration: none;
color:#552F1C;
}
#footer {
 clear: both;

}

.yum{
  clear:both; 
  margin: 0 0 0 15px !important; 
  padding:5px 10px 5px 10px !important;
  border-radius: 5px;
  background: #4baa32;
  color: #FFF;


}

.yum:hover{
clear:both; 
  margin: 0 0 0 15px !important; 
  padding:5px 10px 5px 10px !important;
  border-radius: 5px;
  background: #FF6600;
  color: #FFF;


}






